appnope==0.1.0
asgiref==3.2.5
backcall==0.1.0
certifi==2022.12.7
chardet==3.0.4
decorator==4.4.2
Django==3.0.4
django-cors-headers==3.2.1
django-cors-middleware==1.5.0
django-filter==2.2.0
django-guardian==2.2.0
django-rest-auth==0.9.5
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
fcm-django==0.3.4
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
prompt-toolkit==3.0.4
psycopg2==2.8.5
ptyprocess==0.6.0
pyfcm==1.4.7
Pygments==2.6.1
PyJWT==1.7.1
python-http-client==3.2.7
pytz==2019.3
requests==2.23.0
sendgrid==6.3.1
six==1.14.0
sqlparse==0.3.1
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.8
whitenoise==4.0
